.navibar {
  /* list style type changes the unorder list bullets to anything you want */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow hidden The overflow is clipped, and the rest of the content will be invisible */
  overflow: hidden;
  background-color: rgb(196, 81, 180);
  font: italic small-caps bold 16px/2 cursive;
  font-size: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #bb2211;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #11bb55;
}

#parentContainer
{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  
}

#childContainer1
{
  display: flex;
  width: 100%;
  height: 50%;
  align-items: stretch;
  /* The justify-content property aligns the flexible container's items when 
  the items do not use all available space on the main-axis (horizontally). */
  justify-content: space-around;
  
}

#childContainer2
{
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: space-around;
}

.image
{
  width: 25%;
  height: 350px;

}

.imagesize
{
  /* the object-fit property is used to specify how an <img> 
  or <video> should be resized to fit its container. */
  object-fit: cover;
  width: 100%;
}

#picResize
{
  object-fit: cover;
  max-height: 250px;
  width: 100%;
}


#gameCategory
{
  background-color: pink;
  
  
}

#aboutMeCategory
{
  background-color: purple;
  
}

#siteCategory
{
  background-color:rgb(231, 71, 71);
}

#image4
{
  background-color: saddlebrown;
  width: 40%;
  height: auto;
  align-self: flex-start;
  
}

#pinkClock
{
  width: 40vw;
}



#gameSelection
{
  border: 2px solid red;
}

#SnakeGame
{
  width : 60vw;
  height: 60vw;
  border-style: solid;
}
body
{
  background-image: url("https://www.netclipart.com/pp/m/18-187952_video-games-clipart-uses-computer-logo-video-games.png");
}

