.navibar {
  /* list style type changes the unorder list bullets to anything you want */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow hidden The overflow is clipped, and the rest of the content will be invisible */
  overflow: hidden;
  background-color: rgb(13, 48, 36);
}

li {
  float: left;
}

li a {
  display: block;
  color: blueviolet;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: chartreuse;
}

.container
{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: flex-end;
}

.image
{
  width: 25%;
  height: 40%;


}
#image1
{
  background-color: pink;
  
}

#image2
{
  background-color: purple;
}

#image3
{
  background-color: blue;
}